@import "bootstrap";

.container {
  width: auto;
  margin: 100px;
}

.member-name {
  color: white;
  margin-top: 220px;
  font-size: 2.3em;
  text-shadow: 2px 2px #444;
  -webkit-text-stroke: 1px #ccc;
  -webkit-text-fill-color: #FFFFFF;
  // background: -moz-linear-gradient(left,  #fff,  #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000');
}

.member-company {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-text-stroke: 1px #ccc;
  text-shadow: 2px 2px #444;
}

body {
  background: url(image-path("deck-pattern.png"));
  font-family: "BrownStd";
  font-size: 17px;
  color: #989797;
}

h1 {
 font-family: "BrownStd";
 font-weight: normal; 
}

a {
  color: #989797;
}

a:hover{
  text-decoration: none;
}
.member-card a:hover div {
	text-shadow: 0 0 20px rgba(255,255,255,.5);
	text-decoration: none;
}

.x-leaflet-marker-icon {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg);
  }
 
  to {
    -webkit-transform: rotateX(360deg);
  }
}

#map {
  width: 335px;
  height: 485px;
  overflow: hidden;
  border: 1px solid #eee;
}

.leaflet-container .leaflet-control a {
  color: #999;
}

.leaflet-control-attribution {
  opacity: 0.7;
}

.card { /* poker size (2.5×3.5 inches (63×88 mm), our size 375 * 525*/
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 17px;
  width: 335px;
  height: 485px;
  float: left;
  margin: 22px;
  text-align: center;
  border: 1px solid #eee;
  background: url(image-path("deck-card-deco.png"));
}

.member-card {
  background: url(image-path("deck-card-tuukka.png"));
  position: absolute;
  margin: 0;
  cursor: pointer;
}

.stack-card {
  background: url(image-path("deck-card-deco.png"));
  position: absolute;
  margin: 0;
  cursor: pointer;
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stack {
  position: relative;
  float: left;
  width: 335px;
  height: 485px;
  float: left;
  margin: 22px;
  margin-left: 60px;
  margin-right: 60px;
}

.card-backside {
  background: url(image-path("deck-card-backside.png"));
}

.card-map {
  transform: rotate(-2deg);
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Safari and Chrome */
}

.card-site-title {
  transform: rotate(-110deg);
  -ms-transform: rotate(-110deg); /* IE 9 */
  -webkit-transform: rotate(-110deg); /* Safari and Chrome */
  margin-top: -70px;
  margin-left: 30px;
  margin-right: 70px;
  z-index: 10;
}

.card-about {
  transform: rotate(2deg);
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari and Chrome */
}

.card-member-area {
  transform: rotate(4deg);
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Safari and Chrome */
}

.about-heading {
  margin-top: 50px;
}

.member-area-heading {
  margin-top: 80px;
}

p {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
div.photo {
 width: 335px;
 height: 485px; 
 margin: 0;
 background: red;
}