@import "bootstrap";

/* GENERAL */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* TYPE */

h1 {
 font-family: "BrownStd";
 font-weight: normal; 
}

a {
  color: #989797;
}

a:hover{
  text-decoration: none;
}
.member-card a:hover div {
	text-shadow: 0 0 20px rgba(255,255,255,.5);
	text-decoration: none;
}


/* PLAYING TABLE */

.container {
  width: auto;
  margin: 150px; // do not lose!
  text-align: center;
  // background: pink;
}

body {
  background: url(image-path("deck-pattern.png"));
  font-family: "BrownStd";
  font-size: 17px;
  color: #989797;
}

/* ITEMS ON THE TABLE */

/* all of the items in the front page (be it cards or stacks) have this class */
.orderable {
  float: left;
  margin: 50px;
}

.card { /* poker size (2.5×3.5 inches (63×88 mm), our size 375 * 525*/
  background: white;
  padding: 20px;
  border-radius: 17px;
  width: 335px;
  height: 485px;
  text-align: center;
  border: 1px solid #eee;
  background: url(image-path("deck-card-deco.png"));
}

.stack-card {
  background: url(image-path("deck-card-deco.png"));
  position: absolute;
  cursor: pointer;
}

.member-card {
  background: url(image-path("deck-card-tuukka.png"));
  position: absolute;
  cursor: pointer;
}

.stack {
  position: relative;
  width: 335px;
  height: 485px;
}

.card-backside {
  background: url(image-path("deck-card-backside.png"));
}

.card-map {
}

.card-about {

}

.card-member-area {

}

.card-container {

}

.card-site-title {
}

/* CONTENT */

.member-name {
  color: white;
  margin-top: 220px;
  font-size: 2.3em;
  text-shadow: 2px 2px #444;
  -webkit-text-stroke: 1px #ccc;
  -webkit-text-fill-color: #FFFFFF;
  // background: -moz-linear-gradient(left,  #fff,  #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000');
}

.member-company {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  -webkit-text-stroke: 1px #ccc;
  text-shadow: 2px 2px #444;
}

#map {
  width: 335px;
  height: 485px;
  border: 1px solid #eee;
}

.leaflet-container .leaflet-control a {
  color: #999;
}

.leaflet-control-attribution {
  opacity: 0.7;
}

.about-heading {
  margin-top: 50px;
}

.member-area-heading {
  margin-top: 80px;
}

p {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
div.photo {
 width: 335px;
 height: 485px; 
 margin: 0;
 background: red;
}

/* MEMBER AREA */

div.member-content {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  padding: 100px;
  border-right: 1px solid #eee;
}

.member-menu {
  position: fixed;
  bottom: 50px;
  left: 930px;
}
