@import "bootstrap";

.container {
  width: 100%;
  margin: 100px;
}

.member-name {
  margin-top: 180px;
}

.member-company {
  text-decoration: none;
  font-size: 0.8em;
}

body {
  background: url(image-path("deck-pattern.png"));
  font-family: "BrownStd";
  font-size: 17px;
  color: #989797;
}

h1 {
 font-family: "BrownStd";
 font-weight: normal; 
}

a {
  color: #989797;
}

.x-leaflet-marker-icon {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg);
  }
 
  to {
    -webkit-transform: rotateX(360deg);
  }
}

#map {

}

.leaflet-container .leaflet-control a {
  color: #999;
}

.card { /* poker size (2.5×3.5 inches (63×88 mm), our size 375 * 525*/
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 17px;
  width: 335px;
  height: 485px;
  float: left;
  margin: 10px;
  text-align: center;
}

.member-card {
  background: url(image-path("deck-card-deco.png"));
}

p {
  margin-bottom: 20px;
}